.container {
  display: grid;
  justify-items: center;
  font: "Open sans";
}

.App {
  width: 640px;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid grey;
}

.information {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.show {
  display: auto;
}

.hide {
  display: none;
}
