.Title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.Information {
  display: grid;
  grid-template-columns: 1fr 10fr;
  font-size: 1.5rem;
  border: black 1px solid;
}

.Information-title {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
}

.Information-textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Information-input-text {
  resize: none;
  width: 90%;
  height: 1rem;
}
